@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Roboto Mono';
    color: #1a1a1a;

    &.locked {
        overflow: hidden;
    }
}

.container {
    max-width: 585px;
	padding: 0px 15px;
    margin: 0px auto;
}

.header {
    padding: 45px 0px;
	margin: 0px 0px 52.5px 0px;

    .navigation {
        animation: slide-to-up 1.4s;
    	&__wrapper {
    		transition: transform 1s ease;
    	}

    	&__list {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            gap: 45px;
    	}

    	&__item {
    		overflow: hidden;
    	}

    	&__link {
    		display: inline-block;
            padding: 8px 3px;
            font-size: 16px;
            line-height: 24px;
            border: 1px solid #ffffff;
            transition: border 0.25s ease-in-out;
            animation-delay: 7s;
            &:hover {
                padding: 8px 3px;
                border: 1px solid #3F51B5;
            }
    	}

    }

    .item-active {
        .navigation__link {background-color: #3F51B5; color: #ffffff;}
    }
}

.main {
    .article {
    	margin: 0px 0px 60px 0px;
    	&__header {
    		padding: 22.5px 0px;
    	}

    	&__title {
    		font-size: 26px;
    		line-height: 34.29px;
    		text-align: center;
    		margin: 0px 0px 30px 0px;
            animation: slide-to-left 1.4s;
    	}

    	&__info {
    		display: -webkit-flex;
    		display: -ms-flex;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		gap: 37px;
            animation: slide-to-right 1.4s;
    	}

    	&__author, &__date {
    		font-size: 14px;
    		font-weight: 300;
    		line-height: 21px;
    	}

    	&__content {
    		display: -webkit-flex;
    		display: -ms-flex;
    		display: flex;
    		flex-direction: column;
    		gap: 30px;
    		margin: 0px 0px 45px 0px;
    	}

    	&__thumbnail {
    		img {width: 100%;}
            animation: slide-to-left 1.4s;
    	}

    	&__paragraph {

    	}

    	&__heading {
    		font-size: 20px;
    		line-height: 26.38px;
    		margin: 0px 0px 15px 0px;
            animation: slide-to-right 1.4s;
    	}

    	&__text {
    		font-size: 16px;
    		line-height: 27px;
    		font-weight: 300;
            animation: slide-to-left 1.4s;
    	}

    	&__footer {
            animation: slide-to-right 1.4s;

    	}

    	&__share-w {

    	}

        .author {
        	display: -webkit-flex;
        	display: -ms-flex;
        	display: flex;
        	align-items: center;
        	gap: 11px;

        	&__avatar {
        		img {border-radius: 50%;}
        	}

        	&__name {

        	}

        }

        .share-w {

        	&__row {
        		display: -webkit-flex;
        		display: -ms-flex;
        		display: flex;
        		justify-content: space-between;
        	}

        	&__sign {
        		font-size: 14px;
        		color: #555555;
        		line-height: 21px;
        	}

        	&__socials {

        	}

        }

    }

    .socials {

    	&__list {
    		display: -webkit-flex;
    		display: -ms-flex;
    		display: flex;
    		gap: 25px;
    	}

    	&__item {
            path {
                transition: 0.1s all ease-in;
            }
            &:hover path {
                fill: #3F51B5;
            }
    	}

    	&__link {

    	}

    }

    .comments {
        animation: slide-to-up 1.4s;
    	&__publish {

    	}

    	&__content {

    	}
    }

    .c-publish {
    	margin-bottom: 60px;

    	&__title {
    		font-size: 20px;
    		line-height: 26.38px;
    		margin: 0px 0px 30px 0px;
    	}

    	&__form {

    	}

    	&__header {
    		margin-bottom: 46px;
    	}

    	&__heading {
    		font-size: 16px;
    		line-height: 23.84px;
    		margin-bottom: 13px;
    	}

    	&__subheading {
    		font-size: 14px;
    		font-weight: 300;
    		color: #555555;
    		line-height: 21px;
    	}

    	&__row {
    		margin-bottom: 30px;
    	}

    	&__handle {
    		font-size: 13px;
    		font-weight: 300;
    		line-height: 17.15px;
    		margin-bottom: 7px;
    	}

    	.handle-req {
    		span:after {
    			content: '*';
    			display: inline-block;
    			margin-left: 7px;
    		}
    	}

    	&__comment {
    		resize: none;
    		max-width: 555px;
    		width: 100%;
    		height: 140px;
    		border: 1px solid #c4c4c4;
    	}

    	&__name, &__email, &__website {
    		max-width: 555px;
    		width: 100%;
    		height: 45px;
    	}

    	&__comment, &__name, &__email, &__website {
    		border: 1px solid #c4c4c4;
    		font-size: 13px;
            color: #1a1a1a;
    		line-height: 27px;
    		padding: 10px;
    	}

        &__comment::placeholder, &__name::placeholder, &__email::placeholder, &__website::placeholder {
            font-size: 13px;
            color: #555555;
            font-weight: 300;
        }

    	&__comment::selection, &__name::selection, &__email::selection, &__website::selection {
    		background-color: #eeeeee;
    	}

        &__comment:focus, &__name:focus, &__email:focus, &__website:focus {
            border: 1px solid #3F51B5;
        }

    	&__cookie {
    		display: -webkit-flex;
    		display: -ms-flex;
    		display: flex;
    		gap: 10px;
    		margin-bottom: 30px;
    	}

    	&__check {

    	}

    	&__post {
    		width: 176px;
    		height: 46px;
    		background-color: #1A1A1A;
    		span {font-size: 16px; color: #ffffff; line-height: 23.84px;}
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: #3F51B5;
            }
    	}

    }

    .c-content {

    	&__title {
    		font-size: 20px;
    		line-height: 26.38px;
    		margin-bottom: 27px;
    	}

    	&__main-comment {

    		&:not(:first-child) {
    			margin-top: 30px;
    			padding-top: 30px;
    			border-top: 1px solid #f0f0f0;
    		}
    	}

        .c-comment {

        	&__info {
        		display: -webkit-flex;
        		display: -ms-flex;
        		display: flex;
        		align-items: center;
        		gap: 15px;
        		margin-bottom: 17px;
        	}

        	&__name {
        		font-size: 16px;
        		line-height: 23.84px;
        	}

        	&__date {
        		font-size: 13px;
        		color: #555555;
        		font-weight: 300;
        		line-height: 17.15px;
        	}

        	&__text {
        		font-size: 16px;
        		font-weight: 300;
        		line-height: 27px;
        		margin-bottom: 15px;
        	}

        	&__reply {
        		font-size: 16px;
        		line-height: 23.84px;
                &:hover {
                    color: #383838;
                }
        	}

        	&__replies {
        		margin: 30px 0px 0px 65px;
        		.c-comment {padding-top: 30px; border-top: 1px solid #f0f0f0;}
        	}

            .no-replies {
            	display: none;
            }

        }
    }
}

.footer {
    animation: slide-to-up 4s;
    &:before {
        content: '';
        display: block;
        position: relative;
        width: 9px;
        height: 9px;
        background-color: #ffffff;
        border: 1px solid #f0f0f0;
        border-radius: 50%;
        margin: 0px auto;
        margin-bottom: -4.5px;

    }

	&__row {
        padding: 65px 0px;
        border-top: 1px solid #f0f0f0;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
	}

    &__sign {
        font-size: 13px;
		text-align: center;
	    font-weight: 300;
        line-height: 17.15px;
    }
}

@keyframes slide-to-up {
    0% {
        transform: translateY(150%);
        opacity: 0;
    }

    60% {
        transform: translateY(40%);
        opacity: 1;
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-to-left {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    75% {
        transform: translateX(40%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-to-right {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    75% {
        transform: translateX(-40%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 400px) {

	.header {
		padding: 24px 0px;

        .navigation {
            &__icon {
    			z-index: 9999;
        		position: fixed;
                height: 32px;
        		padding: 5px 3px;
        		top: 19px;
        		right: 18.5px;
                overflow: hidden;
        		span {
            		transition: all 0.3s ease-in-out;
        			position: relative;
        			display: block;
        			width: 26px;
        			height: 1px;
        			background-color: #1a1a1a;
                    transform: rotateX(0deg);
        			&:nth-child(2), &:nth-child(3){
        				top: 9px;
        			}

                    &:nth-child(3) {
                        position: absolute;
                        top: 14px;
                        opacity: 0;
                    }

        			&:last-child {
        			    top: 18px;
        			}
        		}
        	}

            &__icon.active {
                transition: opacity 0.35s ease-in-out, transform 0.5s ease-in-out;
    			span:first-child {
                    position: absolute;

    			    transform: translateX(-200%);
    			}

    			span:nth-child(2) {
                    transform: rotate(45deg);
    			}

                span:nth-child(3) {
                    transform: rotate(-45deg);
                    opacity: 1;
    			}

    			span:last-child {
                    transform: translateX(200%);
    			}

    		}

            &__icon:hover {
                span {
                    color: #555555;
                }
            }

            &__wrapper {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
    			z-index: 9998;
    			background-color: #ffffff;
    			padding: 107px 0px;
                transform: translateY(-200%);
            }

    		&__wrapper.active {
                transition: all 1s ease;
                transform: translateY(0%);
                .navigation__list {
                    opacity: 1;
                }
    		}

    		&__list {
                transition: opacity 4s ease;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
    			align-items: center;
    			justify-content: flex-start;
    			flex-direction: column;
    			gap: 30px;
                opacity: 0;
    		}

    		&__link {
    			padding: 7.5px 31.5px;
    			font-size: 20px;
                &:hover {
                    padding: 7.5px 31.5px;
                    border: 1px solid #3F51B5;
                }
    		}
    	}
	}

	.share-w {
		&__row {flex-direction: column; gap: 20px;}
	}

}

@media (max-width: 300px) {
    .main {
        .article {
            &__info {
                flex-direction: column;
                gap: 25px;
            }
            &__author {
                order: 2;
            }

            &__date {
                order: 1;
            }
        }
    }
}
